/** Image */
img {
  background-color: var(--color-fg-feather);
  border-color: var(--color-fg-feather);
  border-radius: $radius-1;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 2px 3px var(--color-fg-feather);
  display: block;
  font-size: 0;
  height: auto;
  width: 100%;
}

.dark img {
  opacity: 0.87;
}

.dark .show-light,
.light .show-dark {
  display: none;
}

img[src$='.svg'] {
  background: transparent;
  border: 0;
}

.image-shadow {
  position: relative;
  transition-duration: 500ms;
  transition-property: transform;
  transition-timing-function: ease-in-out;

  &::after {
    box-shadow: $shadow-subtle-shade;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition-duration: 500ms;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    width: 100%;
    z-index: -1;
  }

  &:hover,
  &:focus {
    transform: scale(1.03);

    &::after {
      opacity: 1;
    }
  }
}
