/* ===================================
 * Base
 * ==================================*/

.page-content {
  flex-grow: 1;
}

.rowgap {
  row-gap: clamp(1.5rem, $space-55, 6rem);
}

/* ===================================
 * Fullsize
 * ==================================*/

.layout-fullsize {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: $grid-fullsize;
  grid-template-rows: clamp(3rem, $space-55, 9rem);
}

/* ===================================
 * Wide
 * ==================================*/

.layout-wide {
  display: grid;
  grid-template-columns: $grid-fullsize;

  & .wrapper {
    grid-column: 2 / -2;

    @media (--tablet) {
      grid-column: 3 / -3;
    }
  }
}

/* ===================================
 * Narrow
 * ==================================*/

.layout-narrow {
  display: grid;
  grid-template-columns: $grid-fullsize;

  & .wrapper {
    grid-column: 2 / -2;

    @media (--tablet) {
      grid-column: 6 / -6;
    }

    @media (--desktop) {
      grid-column: 7 / -7;
    }
  }
}
