html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: $font-family-base;
  height: 100vh;
  line-height: 1.6;
}
