html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  display: flex;
  flex-direction: column;
  font-family: $font-family-base;
  font-weight: 400;
  height: 100vh;
  line-height: 1.6;
}

.page-content {
  flex-grow: 1;
}
