/* ===================================
 * Base
 * ==================================*/

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  display: flex;
  flex-direction: column;
  font-family: $font-family-base;
  font-weight: 400;
  height: 100vh;
  line-height: 1.6;
}

/* ===================================
 * Text Styles
 * ==================================*/

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.headline,
.subheadline {
  font-weight: 900;
  letter-spacing: -0.02em;
  line-height: $line-height-1;
  margin-top: 0;
}

h1,
.title {
  font-size: $font-size-6;
  margin-bottom: $space-13;
}

h2,
.headline {
  font-size: $font-size-5;
  margin-bottom: $space-10;
}

h3,
h4,
h5,
h6,
.subheadline {
  font-size: $font-size-4;
  margin-bottom: $space-8;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark .title,
.dark .headline,
.dark .subheadline {
  font-weight: 800;
}

p,
.paragraph {
  font-size: $font-size-3;
  font-weight: 400;
  letter-spacing: normal;
  line-height: $line-height-2;
  margin-bottom: $space-10;
  margin-top: 0;
}

.dark p,
.dark .paragraph {
  font-weight: 300;
}

ul {
  font-size: $font-size-3;
  list-style-type: circle;
  margin-bottom: $space-12;
  padding-left: 1.2em;

  @media (--tablet) {
    padding-left: 0;
  }

  li & {
    margin-bottom: 0;
    padding-left: 2rem;
  }
}

del {
  text-decoration-thickness: 0.1em;
}

ins {
  text-decoration-style: wavy;
  text-decoration-thickness: 0.05em;
}

abbr {
  font-variant: small-caps;
}

pre {
  white-space: pre;
}

:is(code, kbd, samp) {
  font-family: $font-family-mono;
  font-size: clamp(0.8rem, 1.1vw, 1.25rem);
}

:is(abbr, dfn) {
  cursor: help;
}

[lang|='en'] blockquote,
blockquote[lang|='en'],
[lang|='en'] q,
q[lang|='en'] {
  quotes: '“' '”' '‘' '’';
}

/* ===================================
 * Links
 * ==================================*/

a {
  color: var(--color-fg);
  font-weight: 600;
  text-decoration-color: var(--color-fg-soft);
  text-decoration-thickness: 0.15em;
  text-underline-offset: 0;

  &:hover,
  &:focus {
    text-decoration-color: var(--color-accent);
  }
}

/* ===================================
 * Images & Figures
 * ==================================*/

img {
  border-color: var(--color-fg-soft);
  border-style: solid;
  border-width: 1px;
  height: auto;
  max-width: 100%;
  position: relative;
  transition-duration: 500ms;
  transition-property: transform;
  transition-timing-function: ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.03);
  }

  &::after {
    box-shadow: $shadow-subtle-shade;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition-duration: 500ms;
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    width: 100%;
    z-index: -1;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }
}

figcaption {
  font-size: clamp(0.8rem, 0.8vw, 0.75rem);
  text-align: start;
}

/* ===================================
 * Helper
 * ==================================*/

.no-margin {
  margin: 0 !important;
}

.hidden {
  display: none !important;
}
