/** Base */
html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background-color: #a3b387;
  color: #ffffff;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  display: flex;
  flex-direction: column;
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
  height: 100vh;
  line-height: 1.6;
}

/** Headlines */
h1,
h2,
h3,
h4,
h5,
h6,
.page-title,
.headline,
.subheadline {
  font-weight: $font-weight-black;
  letter-spacing: -0.02em;
  line-height: $line-height-1;
  margin-block-start: 0;
  position: relative;
}

h1,
.page-title {
  font-size: $font-size-7;
  margin-block-end: $space-13;
}

h2,
.headline {
  font-size: $font-size-5;
  margin-block-end: $space-10;
  margin-block-start: $space-16;
}

h3,
h4,
h5,
h6,
.subheadline {
  font-size: $font-size-4;
  margin-block-end: $space-8;
  margin-block-start: $space-14;
}

h2:first-of-type,
h3:first-of-type,
h4:first-of-type,
h5:first-of-type,
h6:first-of-type {
  margin-block-start: 0;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark .title,
.dark .headline,
.dark .subheadline {
  font-weight: $font-weight-extra-bold;
}

/** GitHub Style Anchor */
.anchor {
  float: left;
  line-height: 1;
  margin-inline-start: -20px;
  padding-inline-end: 5px;
  position: relative;
  top: -0.01em;
  visibility: hidden;

  h2:hover &,
  h2:focus &,
  h3:hover &,
  h3:focus &,
  h4:hover &,
  h4:focus & {
    visibility: visible;
  }
}

/** Paragraph */
p,
.paragraph {
  font-size: $font-size-3;
  font-weight: $font-weight-normal;
  letter-spacing: normal;
  line-height: $line-height-2;
  margin-block-end: $space-10;
  margin-block-start: 0;
}

p:last-of-type {
  margin-block-end: 0;
}

.dark p,
.dark .paragraph {
  font-weight: $font-weight-light;
}

/** Lists */
ul {
  font-size: $font-size-3;
  list-style-type: square;
  margin-block-end: $space-12;
  margin-block-start: 0;
  padding-inline-start: 1.2em;

  li {
    margin-block-end: $space-5;
  }

  li & {
    margin-block-end: 0;
    padding-inline-start: 2rem;
  }
}

@media (--tablet) {
  ul {
    padding-inline-start: 0;
  }
}

ol {
  font-size: $font-size-3;
  margin-block-end: $space-12;
  padding-inline-start: 1.2em;

  li {
    margin-block-end: $space-2;
  }

  li & {
    margin-block-end: 0;
    padding-inline-start: 2rem;
  }
}

@media (--tablet) {
  ol {
    padding-inline-start: 0;
  }
}

/** Critic Markup */
del {
  text-decoration-thickness: 0.15em;
}

ins {
  text-decoration-style: solid;
  text-decoration-thickness: 0.15em;
}

mark {
  background-color: rgba(230, 240, 40, 0.7);
  border-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.25em;
  box-shadow: $shadow-dark-inset;
  color: rgba(0, 0, 0, 0.75);
  padding-block-end: 0.4em;
  padding-block-start: 0.4em;
  padding-inline-end: 0.3em;
  padding-inline-start: 0.3em;
}

/** Code, Sample, Abbreviation, Keyboard Shortcuts etc. */
pre {
  white-space: pre;
}

p code,
li code,
samp {
  background-color: var(--color-bg-code);
  border-radius: 0.3em;
  color: var(--color-fg-code);
  padding-block-end: $space-1;
  padding-block-start: $space-1;
  padding-inline-end: $space-3;
  padding-inline-start: $space-3;
  white-space: normal;
}

kbd {
  background-color: #f7f7f7;
  border-color: #cccccc;
  border-style: solid;
  border-width: $border-width-1;
  box-shadow: $shadow-beveled-keyboard;
  color: #333333;
  display: inline-block;
  font-size: $font-size-2;
  font-weight: 700;
  line-height: 1.4;
  padding: 0.3em 0.6em 0.1em;
  text-shadow: $shadow-white-outline;
  white-space: nowrap;
}

abbr {
  font-variant: small-caps;
}

:is(code, kbd, samp) {
  font-family: $font-family-mono;
  font-size: clamp(0.8rem, 0.8vw, 1rem);
}

:is(abbr, dfn) {
  cursor: help;
}

/** Quotes */
[lang|='en'] blockquote,
blockquote[lang|='en'],
[lang|='en'] q,
q[lang|='en'] {
  quotes: '“' '”' '‘' '’';
}

blockquote {
  margin-block-end: $space-12;
  margin-block-start: $space-12;
  margin-inline-end: $space-8;
  margin-inline-start: $space-8;
  position: relative;

  @media (--tablet) {
    margin-inline-end: $space-10;
    margin-inline-start: $space-10;
  }

  &::before {
    color: var(--color-accent);
    content: '“';
    font-family: Trebuchet MS, Georgia, serif;
    font-size: $font-size-6;
    height: 0.6em;
    left: -0.55em;
    position: absolute;
    top: -0.55em;
  }

  p,
  ul,
  ol {
    font-size: $font-size-3;
    font-style: italic;
    font-weight: $font-weight-extra-light;
    margin-block-end: $space-10;
    margin-block-start: 0;

    &:nth-last-child(2) {
      margin-block-end: $space-2;
    }

    & strong {
      font-style: italic;
      font-weight: $font-weight-bold;
    }

    &:last-child {
      & strong {
        font-size: $font-size-3;
        font-style: normal;
        font-weight: $font-weight-bold;

        &::before {
          content: '—';
          font-weight: $font-weight-light;
          left: -0.8em;
          position: absolute;
        }

        & em {
          font-size: $font-size-3;
          font-weight: $font-weight-normal;
          font-weight: $font-weight-extra-light;
        }
      }
    }
  }
}

q {
  font-style: italic;

  &::before {
    font-style: normal;
    margin-right: -0.05em;
  }

  &::after {
    font-style: normal;
    margin-left: 0.1em;
  }
}

.pullquote {
  padding-block-end: $space-9;
  padding-block-start: $space-9;
  text-align: center;

  &::before {
    display: none;
  }

  & p {
    font-size: $font-size-4;
    font-weight: $font-weight-extra-bold;
    line-height: $line-height-1;
    margin: 0;
  }

  & p:first-child::before {
    content: open-quote;
    font-style: normal;
  }

  & p:nth-of-type(1):first-letter {
    margin-left: -0.4em;
  }

  & p:nth-last-of-type(1)::after {
    content: close-quote;
    font-style: normal;
  }

  footer {
    font-size: $font-size-2;
    font-weight: normal;
    margin-top: $space-6;
  }

  b {
    font-style: normal;
  }
}

/** Links */
a {
  color: var(--color-fg);
  font-weight: $font-weight-semi-bold;
  text-decoration: underline;
  text-decoration-color: var(--color-fg-soft);
  text-decoration-thickness: 0.2em;
  text-underline-offset: auto;

  &:hover,
  &:focus {
    text-decoration-color: var(--color-accent);
  }

  sup.footnote-ref & {
    text-decoration: none;
  }
}

/** Helper */
.no-margin {
  margin: 0 !important;
}

.hidden {
  display: none !important;
}

.spoiler {
  background: var(--color-fg-full);
  color: var(--color-fg-full);
  cursor: help;
  padding-block-end: $space-1;
  padding-block-start: $space-1;
  padding-inline-end: $space-1;
  padding-inline-start: $space-1;

  &.spoiler-visible {
    color: var(--color-fg-full-inverse);
    cursor: pointer;
  }
}

.no-js .spoiler {
  color: var(--color-fg-full-inverse);
}
