/** Video */
.video-wrapper {
  margin-block-end: var(--space-10);
  padding-block-end: 56.25%;
  position: relative;
}

.video-wrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
