<link rel="alternate" type="application/rss+xml" title="Stefan Imhoff" href="{{ site.url }}/index.xml"/>
<link rel="alternate" type="application/rss+xml" title="Stefan Imhoff (Haiku)" href="{{ site.url }}/haiku.xml"/>
<link rel="alternate" type="application/rss+xml" title="Stefan Imhoff (Sketchnotes)" href="{{ site.url }}/sketchnotes.xml"/>
<link rel="alternate" type="application/rss+xml" title="Stefan Imhoff (Recommendations)" href="{{ site.url }}/feed-raindrop.xml"/>
