<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{ site.url }}/index.xml"/>
<link rel="alternate" type="application/rss+xml" title="Haiku RSS Feed" href="{{ site.url }}/haiku.xml"/>
<link rel="alternate" type="application/rss+xml" title="Sketchnotes RSS Feed" href="{{ site.url }}/sketchnotes.xml"/>
<link rel="alternate" type="application/rss+xml" title="Raindrop.io Recommendations RSS Feed" href="{{ site.url }}/feed-raindrop.xml"/>
