<link rel="alternate" type="application/rss+xml" title="Posts, Links, and Quotes" href="{{ site.url }}/index.xml" />
<link rel="alternate" type="application/rss+xml" title="Posts" href="{{ site.url }}/feed-posts.xml" />
<link rel="alternate" type="application/rss+xml" title="Links" href="{{ site.url }}/feed-links.xml" />
<link rel="alternate" type="application/rss+xml" title="Quotes" href="{{ site.url }}/feed-quotes.xml" />
