<webfeeds:cover image="{{ site.url }}/assets/images/branding/webfeeds-cover.jpg"/>
<webfeeds:icon>{{ site.url }}/assets/images/branding/webfeeds-icon.png</webfeeds:icon>
<webfeeds:logo>{{ site.url }}/assets/images/branding/webfeeds-logo.svg</webfeeds:logo>
<webfeeds:accentColor>e60510</webfeeds:accentColor>
<webfeeds:related layout="card" target="browser"/>

