<button id="theme-toggle" class="theme-toggle" aria-label="Switch color theme">
  <svg class="theme-toggle-icon"  aria-hidden="true" viewBox="0 0 24 24" width="1em" height="1em">
    <use xlink:href="#circle"></use>
  </svg>
</button>
