<button id="theme-toggle" class="theme-toggle" aria-label="Switch color theme">
  <svg
    class="theme-toggle-icon"
    cliprule="evenodd"
    fillrule="evenodd"
    height="1em"
    stroke-line-join="round"
    stroke-miterlimit="2"
    viewbox="0 0 24 24"
    width="1em"
  >
    <circle cx="12" cy="12" r="9.967" />
  </svg>
</button>
