.banner {
  background-color: var(--color-fg-feather);
  border-radius: $radius-2;
  margin-bottom: $space-10;
  padding: $space-10;

  & p:last-of-type {
    margin-bottom: 0;
  }
}

.banner summary {
  cursor: pointer;
  font-size: $font-size-3;
  font-weight: $font-weight-black;
  letter-spacing: -0.02em;
  line-height: $line-height-1;
  margin-block-start: 0;
  outline: none;
}

.banner[open] summary {
  margin-block-end: $space-8;
}
