hr,
.divider {
  border-block-end-width: $border-width-10;
  border-block-start-width: 0;
  border-color: var(--color-border);
  border-inline-end-width: 0;
  border-inline-start-width: 0;
  border-style: solid;
  width: 100%;
}
