hr,
.divider {
  border-bottom-width: $border-width-10;
  border-color: var(--color-fg-feather);
  border-left-width: 0;
  border-right-width: 0;
  border-style: solid;
  border-top-width: 0;
  width: 100%;
}
