/** Verse */
.verse {
  display: flex;
  font-style: italic;
  margin-block-end: $space-10;
  margin-block-start: $space-10;
  margin-inline-end: 0;
  margin-inline-start: 0;

  & pre {
    font-family: inherit;
    margin-block-end: 0;
    margin-block-start: 0;
  }
}

.verse.verse-center {
  & pre {
    margin-inline-end: auto;
    margin-inline-start: auto;
  }
}
