/* Download Link */
.download-icon {
  display: inline-flex;
  fill: var(--color-fg);
  margin-inline-start: 0.2em;
  position: relative;
  top: 0.2em;
  transition-duration: var(--transition-duration-5);
  transition-property: transform;
  transition-timing-function: ease-in-out;

  a:hover &,
  a:active &,
  a:focus & {
    transform: translate3D(0, 0.25rem, 0);
  }
}
