.about-title {
  grid-column: 2 / -2;
  grid-row: 1;
  margin: 0;

  @media (--tablet) {
    grid-column: 5 / -7;
  }

  @media (--desktop) {
    grid-column: 8 / -7;
  }
}

.about-photo-container {
  grid-column: 1 / 12;
  grid-row: 2;

  @media (--tablet) {
    grid-column: 4 / 10;
  }

  @media (--desktop) {
    grid-column: 7 / 10;
  }
}

.about-photo {
  border-left-width: 0;

  @media (--tablet) {
    border-left-width: 1px;
  }
}

.about-me {
  grid-column: 2 / -2;
  grid-row: 3;

  @media (--tablet) {
    grid-column: 6 / 14;
  }

  @media (--desktop) {
    grid-column: 8 / 13;
  }
}

.about-website {
  grid-column: 2 / -2;
  grid-row: 4;

  @media (--tablet) {
    grid-column: 5 / 13;
  }

  @media (--desktop) {
    grid-column: 7 / 12;
  }
}

.about-contact {
  grid-column: 2 / -2;
  grid-row: 5;

  @media (--tablet) {
    grid-column: 3 / 11;
  }

  @media (--desktop) {
    grid-column: 5 / 9;
  }
}

.about-lock-box {
  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  height: 20px;
  justify-content: center;
  position: relative;
  top: 0.2em;
  width: 25px;
}

.about-lock-icon {
  fill: var(--color-fg);
  font-size: 1.2em;
}

.about-connect {
  grid-column: 2 / -2;
  grid-row: 6;

  @media (--tablet) {
    grid-column: 12 / -3;
    grid-row: 5;
  }

  @media (--desktop) {
    grid-column: 10 / -5;
  }
}

.about-social-media {
  column-count: 1;
  margin: 0;

  @media (width >= 300px) {
    column-count: 2;
  }

  @media (width >= 400px) {
    column-count: 3;
  }

  @media (--tablet) {
    column-count: 2;
  }

  @media (width >= 1100px) {
    column-count: 3;
  }
}
