.colors-japan-title {
  grid-column: 1 / -1;
  grid-row: 1;
  margin-bottom: 0;
  z-index: 1;
}

.color-japan-introduction {
  grid-column: 1 / -1;
  grid-row: 2;
  margin-bottom: 0;
  z-index: 1;

  @media (--tablet) {
    grid-column: 1 / 8;
  }

  @media (--desktop) {
    align-content: center;
    display: grid;
    grid-column: 1 / 8;
  }
}

.color-japan-books {
  align-self: start;
  display: flex;
  grid-column: 1 / -1;
  grid-row: 3;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin-bottom: 0;

  & .amazon-book {
    align-self: stretch;
    max-width: 300px;

    &:first-of-type {
      margin-right: 1.5vw;
    }

    &:last-of-type {
      margin-left: 1.5vw;
    }
  }

  @media (--tablet) {
    grid-column: 9 / -1;
    grid-row: 2;
    justify-content: flex-end;
  }
}

.color-japan-grid {
  display: grid;
  grid-column: 1 / -1;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
