/** Journal Detail Page */
.journal-container {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(18, 1fr);
  row-gap: clamp(25px, 5.55vw, 100px);
  width: 100%;
}

.journal-title {
  font-size: $font-size-6;
  grid-column: 2 / -2;
  grid-row: 1;
  margin-block-end: 0;
  z-index: 1;

  @media (--tablet) {
    grid-column: 3 / -7;
  }
}

/** Journal Detail Page Meta */
.journal-meta {
  grid-column: 2 / -2;
  grid-row: 2;

  @media (--tablet) {
    grid-column: -6 / -3;
  }
}

.journal-meta-author {
  line-height: 1;
  margin-block-end: $space-6;
}

.journal-meta-date {
  line-height: 1.2;
}

.journal-meta-reading-time {
  font-style: italic;
  line-height: 1;
}

/** Journal Detail Page Post */
.journal-post {
  grid-column: 2 / -2;

  @media (--tablet) {
    grid-column: 3 / -7;
  }

  @media (--desktop) {
    grid-column: 7 / -7;
  }

  h2 {
    font-size: $font-size-4;
    margin-block-end: $space-8;
    margin-block-start: $space-14;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: $font-size-3;
    margin-block-start: $space-10 !important;
  }

  h2:first-of-type,
  h3:first-of-type,
  h4:first-of-type,
  h5:first-of-type,
  h6:first-of-type {
    margin-block-start: 0;
  }
}
