---
permalink: feed-quotes.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:webfeeds="http://webfeeds.org/rss/1.0">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ site.url }}/feed-quotes.xml" rel="self" type="application/atom+xml" />
  <link href="{{ site.url }}" rel="alternate" type="text/html"/>
  {% if collections.journal %}
  <updated>{{ collections.journal | rssLastUpdatedDate }}</updated>
  {% endif %}
  <id>{{ site.url }}/</id>
  <author>
    <name>{{ site.author }}</name>
  </author>
  {% include "feed-webfeeds.njk" %}
  {%- for quote in collections.quotes | reverse -%}
  {% set absolutePostUrl %}{{ quote.url | url | absoluteUrl(site.url) }}{% endset %}
    <entry>
      <title>{{ quote.data.title }}</title>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ quote.date | rssDate }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html"><![CDATA[
        {{ quote.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | safe }}
      ]]></content>
    </entry>
  {%- endfor -%}
</feed>
