---
title: About
layout: fullsize
permalink: /about/
---

<h1 class="about-title">{{ title }}</h1>

<div class="image-shadow about-photo-container">
  <img
    class="about-photo"
    src="/assets/images/portrait-stefan-imhoff.jpg"
    alt="Stefan Imhoff"
  />
</div>

<section class="about-me">
  <div class="about-me-intro" {{ site.animationDelay }}>
    <h2 class="subheadline">About Me</h2>
    <p>
      I’m <em>Stefan Imhoff</em>, a Front-End Web Developer and Designer from
      Hamburg, Germany. I love design and art, reading books, watching movies
      and TV shows, creating <a href="/sketchnotes/">Sketchnotes</a>, taking
      photos, and writing <a href="/haiku/">Haiku</a>.
    </p>
  </div>
  <div {{ site.animation }}>
    <p>
      I love
      <a
        href="https://hamburg.stefanimhoff.de/"
        rel="nofollow noopener noreferrer"
        target="_blank">walking and cycling</a>, and do 
        <a href="/calisthenics/">Calisthenics</a> to stay fit. My ideal weather 
        is thunderstorms and rain, but I like also warm sunny weather. 
        My favorite places are the sea and forests.
    </p>
    <p>
      When I’m inside I like reading in my roughly 1,000 books. I love reading
      about typography, architecture, or interior design. But I am also a big
      fan of movies and TV shows. I like to cook,
      <a
        href="https://en.wikipedia.org/wiki/Hochzeitssuppe"
        rel="nofollow noopener noreferrer"
        target="_blank">Niedersächsische Hochzeitssuppe</a> is my favorite dish.
    </p>
    <p>
      I see myself as a <a href="/minimalism/">Minimalist</a>, a Stoic, an
      Introvert, and Japanophile. Writing is a passion for me. Besides writing
      <a href="/journal/">articles</a> I’ve written a
      <a
        href="https://book.kogakure.de/"
        re="nofollow noopener noreferrer"
        target="_blank">book</a> and run a
      <a href="https://www.kogakure.de/" target="_blank">website</a>
      about Ninja and Ninjutsu.
    </p>
    <p>See what I’m doing right <a href="/now/">now</a>.</p>
  </div>
</section>

<section class="about-website" {{ site.animation }}>
  <h2 class="subheadline">About This Website</h2>
  <p>
    I build this website with
    <a href="https://www.11ty.dev/">Eleventy</a>, a fast, fun, and simple static
    site generator.
  </p>
  <p>
    The source code of this website is available on
    <a href="https://github.com/kogakure/website-11ty-stefanimhoff.de">GitHub</a>. 
    Feel free to learn from the source code and reuse code for your projects.
    Don’t just steal it. Learn from it. Remix. Reuse. Build your own stuff.
  </p>
  <p class="no-margin">
    The website is hosted on
    <a href="https://www.netlify.com/">Netlify</a>.
  </p>
</section>

<section id="contact" class="about-contact" {{ site.animation }}>
  <h2 class="subheadline">Contact</h2>
  <p class="no-margin">You’ve got mail!</p>
  <p>{% email "Say hello.", true %}</p>
  <p class="no-margin">
    You can send me a text message on
    <a
      href="https://t.me/kogakure"
      rel="nofollow noopener noreferrer"
      target="_blank"
      >Telegram</a>,
    <a
      href="https://matrix.to/#/@kogakure:matrix.org"
      rel="nofollow noopener noreferrer"
      target="_blank">Matrix</a> or anonymous with this <a href="/downloads/session-id.txt" target="_blank">ID</a> on
    <a
      href="https://getsession.org/"
      rel="nofollow noopener noreferrer"
      target="_blank">Session</a>&nbsp;.
  </p>
</section>

<section id="connect" class="about-connect" {{ site.animation }}>
  <h2 class="subheadline">Connect</h2>
  <ul class="about-social-media">
    {% for item in connect %}
    <li>
      <a
        href="{{ item.url }}"
        rel="nofollow noopener noreferrer"
        target="_blank">{{ item.text }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
