---
layout: wide
css: cv.css
title: CV
fullTitle: Curriculum Vitae
permalink: /cv/
robots: "noindex,follow"
excludeFromSitemap: true
---

<section class="cv rowgap">
	<h1 class="cv-title">{{ fullTitle }}</h1>

	<article class="cv-summary">
		<h2>{{ cv.summary.headline }}</h2>
		<p>{{ cv.summary.text }}</p>
	</article>

	<article class="cv-personal">
		<h2>Personal Information</h2>
		<h3 class="cv-item-title">{{ cv.personal.name }}</h3>
		<p>{{ cv.personal.tagline }}</p>
		<a href="https://www.stefanimhoff.de">Website</a> /
		{% email "Email" %} /
		{% download "CV", "/downloads/cv-stefan-imhoff.zip" %} /
		{% download "VCard", "/downloads/business-card-stefan-imhoff.zip" %}
	</article>

	<hr class="cv-divider"/>

	<article class="cv-column-main">
		<h2>{{ cv.experience.headline }}</h2>

		{% for item in cv.experience.items %}
			<div>
				<div class="cv-item-info">
					<h3 class="cv-item-title">{{ item.title }}</h3>
					<div class="cv-item-duration">{{ item.duration | safe }}</div>
					<div class="cv-item-headline-row">
						<strong>{{ item.company }}</strong> / {{ item.location }}
					</div>
					{% if item.url %}
						<div>
							<a href={{ item.url }} {{ site.external }}>{{ item.url | replace(r/https?:\/\//, "")}}</a>
						</div>
					{% endif %}
				</div>
				<ul>
					{% for task in item.tasks %}
						<li>{{ task }}</li>
					{% endfor %}
				</ul>
			</div>
		{% endfor %}

		<h2>{{ cv.education.headline }}</h2>

		{% for item in cv.education.items %}
			<div class="cv-education">
				<h3 class="cv-item-title">{{ item.degree }}</h3>
				<div class="cv-item-duration">{{ item.duration }}</div>
				<div class="cv-item-headline-row">
					<strong>{{ item.school }}</strong> / {{ item.location }}
				</div>
				{% if item.url %}
					<div>
						<a href={{ item.url }} {{ site.external }}>{{ item.url | replace(r/https?:\/\//, "")}}</a>
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</article>

	<aside class="cv-column-side">
		<article>
			<h2>{{ cv.skills.headline }}</h2>

			{% for item in cv.skills.items %}
				<div>
					<h3 class="cv-item-title">{{ item.headline }}</h3>
					<ul class="cv-item-list">
						{% for tag in item.tags %}
							<li class="cv-item-list-item">{{ tag }}{% if loop.last %}.{% else %},&thinsp;{% endif %}</li>
						{% endfor %}
					</ul>
				</div>
				{% endfor%}
		</article>

		<article>
			<h2>{{ cv.languages.headline }}</h2>

			<ul>
				{% for item in cv.languages.items %}
					<li>
						<strong>{{ item.language }}</strong> ({{ item.level }})</li>
				{% endfor %}
			</ul>
		</article>

		<article>
			<h2>{{ cv.awards.headline }}</h2>

			<ul>
				{% for item in cv.awards.items %}
					<li>{{ item }}</li>
				{% endfor %}
			</ul>
		</article>
	</aside>

	<hr class="cv-divider"/>

	<article class="cv-interests">
		<h2>{{ cv.interests.headline }}</h2>
		<ul class="cv-interests-list">
			{% for item in cv.interests.items %}
				<li>{{ item | safe }}</li>
			{% endfor %}
		</ul>
	</article>
</section>
