---
layout: fullsize
css: journal.css
title: Essays
description: I am writing essays about various topics in this Journal.
permalink: /essays/
backLink: /journal/
---

<h1 class="journal-title">{{ title }}</h1>

<div class="journal-introduction" {{ site.animationDelay }}>
  <p>
    I am writing <strong>essays</strong> about various topics in this Journal.
  </p>
</div>

<article class="journal-posts">
  {% for year, yearPosts in collections.postsByYear %}
    <section class="journal-posts-section">
      <h3 class="journal-posts-year">{{ year }}</h3>
      <ul class="journal-posts-list">
        {% for item in yearPosts | reverse %}
          <li class="journal-posts-list-item">
            <a class="journal-posts-link" href="{{ item.url }}">
              <span class="journal-posts-title">{{ item.data.title }}</span>
              <time class="journal-posts-date" datetime="{{ item.date | dateToISO }}">
                {{ item.date | dateToFormat("MMMM Do") }}
              </time>
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</article>
