---
title: Journal
layout: fullsize
permalink: /journal/
---

Journal


{% for year, yearPosts in collections.journalByYear %}
 <h2>{{ year }}</h2> 
 <ul>
   {% for item in yearPosts | reverse %}
      <li>
        <a href="{{ item.url }}">
          {{ item.data.title }}
        </a>
      </li> 
   {% endfor %}
 </ul>
{% endfor %}
