---
layout: fullsize
css: journal.css
title: Quotes
description: I publish quotes of people much wiser than me.
permalink: /quotes/
---

<h1 class="journal-title">{{ title }}</h1>

<div class="journal-introduction" {{ site.animationDelay }}>
  <p>
    I publish <strong>quotes</strong> in my Journal of people much wiser than me.
  </p>
</div>

<article class="journal-posts">
  {% for year, yearPosts in collections.quotesByYear %}
    <section class="journal-posts-section">
      <h3 class="journal-posts-year">{{ year }}</h3>
      <ul class="journal-posts-list">
        {% for item in yearPosts | reverse %}
          <li class="journal-posts-list-item">
            <a class="journal-posts-link" href="{{ item.url }}">
              <span class="journal-posts-title">{{ item.data.title }}</span>
              <span class="journal-posts-type">
              <svg viewBox="0 0 24 24" width="18" height="18" class="journal-posts-icon" aria-label="Link">
                <use xlink:href="#quotes"></use>
              </svg>
              </span>
              <time class="journal-posts-date" datetime="{{ item.date | dateToISO }}">
                {{ item.date | dateToFormat("MMMM Do") }}
              </time>
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</article>
