---
layout: sketchnotes-detail
pagination:
  data: sketchnotes
  size: 1
  alias: sketchnote
permalink: "/sketchnotes/{{ sketchnote.title | slug }}/"
eleventyComputed:
  title: "{{ sketchnote.title }}"
---


{% set nextPost = pagination.page.next %}
{% set previousPost = pagination.page.previous %}

<figure class="sketchnotes-detail {{ sketchnote.format }} {% if sketchnote.description %}sketchnote--has-caption{% endif %}">
  <div class="image-shadow">
    <img class="sketchnotes-detail-image" src="{{ sketchnote.image }}" alt="{{ sketchnote.title }}">
  </div>
  {% if sketchnote.description %}
    <figcaption class="sketchnotes-detail-caption">
      {{ sketchnote.description | safe }}
    </figcaption>
  {% endif %}
</figure>

{% if previousPost %}
  <a 
    href="/sketchnotes/{{ previousPost.title | slug }}/" 
    class="pagination pagination-start" 
    aria-label="{{ previousPost.title }}" 
    title="{{ previousPost.title }}"
  >
    <button class="pagination-container">
      <svg class="pagination-icon" aria-hidden="true" viewbox="0 0 24 24" width="1em" height="1em">
        <path fill="none" d="M0 0h24v24H0z" />
        <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" />
      </svg>
    </button>
  </a>
{% endif %}

{% if nextPost %}
  <a 
    href="/sketchnotes/{{ nextPost.title | slug }}/" 
    class="pagination pagination-end" 
    aria-label="{{ nextPost.title }}" 
    title="{{ nextPost.title }}"
  >
    <button class="pagination-container">
      <svg class="pagination-icon" aria-hidden="true" viewbox="0 0 24 24" width="1em" height="1em">
        <path fill="none" d="M0 0h24v24H0z" />
        <path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" />
      </svg>
    </button>
  </a>
{% endif %}

