/** Back Link */
.back-link {
  align-self: center;
  grid-column: 1;
  justify-self: center;
  margin-inline-end: 15px;
  transition-duration: var(--transition-duration-5);
  transition-property: transform;
  transition-timing-function: ease-in-out;

  &:hover,
  &:focus {
    transform: translate3D(-0.25rem, 0, 0);
  }
}

.back-link-button {
  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  font-size: 0;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.back-link-spacer {
  align-self: center;
  grid-column: 1;
  height: 40px;
  justify-self: center;
  margin-inline-end: 15px;
  width: 40px;
}

.back-link-icon {
  fill: var(--color-fg);
  font-size: 20px;
  height: 20px;
  width: 20px;
}
