@import '../base/variables';
@import '../base/breakpoints';

/** About */
.about-title {
  grid-column: 2 / -2;
  grid-row: 1;
  margin: 0;
}

@media (--tablet) {
  .about-title {
    grid-column: 5 / -7;
  }
}

@media (--desktop) {
  .about-title {
    grid-column: 8 / -7;
  }
}

.about-photo-container {
  grid-column: 1 / 12;
  grid-row: 2;
}

@media (--tablet) {
  .about-photo-container {
    grid-column: 4 / 10;
  }
}

@media (--desktop) {
  .about-photo-container {
    grid-column: 7 / 10;
  }
}

.about-photo {
  border-bottom-left-radius: 0;
  border-inline-start-width: 0;
  border-top-left-radius: 0;
}

@media (--tablet) {
  .about-photo {
    border-bottom-left-radius: $radius-1;
    border-inline-start-width: 1px;
    border-top-left-radius: $radius-1;
  }
}

.about-me {
  grid-column: 2 / -2;
  grid-row: 3;
}

@media (--tablet) {
  .about-me {
    grid-column: 6 / 14;
  }
}

@media (--desktop) {
  .about-me {
    grid-column: 8 / 13;
  }
}

.about-me-intro {
  margin-block-end: $space-10;
}

.about-website {
  grid-column: 2 / -2;
  grid-row: 4;
}

@media (--tablet) {
  .about-website {
    grid-column: 5 / 13;
  }
}

@media (--desktop) {
  .about-website {
    grid-column: 7 / 12;
  }
}

.about-contact {
  grid-column: 2 / -2;
  grid-row: 5;
}

@media (--tablet) {
  .about-contact {
    grid-column: 3 / 11;
  }
}

@media (--desktop) {
  .about-contact {
    grid-column: 5 / 9;
  }
}

.about-lock-box {
  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  height: 20px;
  justify-content: center;
  position: relative;
  top: 0.2em;
  width: 25px;
}

.about-lock-icon {
  fill: var(--color-fg);
  font-size: 1.2em;
}

.about-connect {
  grid-column: 2 / -2;
  grid-row: 6;
}

@media (--tablet) {
  .about-connect {
    grid-column: 12 / -3;
    grid-row: 5;
  }
}

@media (--desktop) {
  .about-connect {
    grid-column: 10 / -5;
  }
}

.about-social-media {
  column-count: 1;
  margin: 0;
}

@media (width >= 300px) {
  .about-social-media {
    column-count: 2;
  }
}

@media (width >= 400px) {
  .about-social-media {
    column-count: 3;
  }
}

@media (--tablet) {
  .about-social-media {
    column-count: 2;
  }
}

@media (width >= 1100px) {
  .about-social-media {
    column-count: 3;
  }
}
