@import '../base/variables';
@import '../base/breakpoints';

/** Error 404 Page */
.error-404-title {
	grid-column: 3 / -3;
	grid-row: 1;
	margin-block-end: 0;
	z-index: 1;
}

@media (--desktop) {
	.error-404-title {
		grid-column: 3 / -6;
	}
}

.error-404-haiku {
	font-size: var(--font-size-4);
	grid-column: 3 / -3;
	grid-row: 2;
	z-index: 1;
}

@media (--tablet) {
	.error-404-haiku {
		grid-column: 5 / -9;
	}
}

.error-404-huge {
	color: var(--color-fg-feather);
	font-size: var(--font-size-9);
	font-weight: var(--font-weight-black);
	grid-column: -9 / -3;
	grid-row: 2 / 4;
	line-height: 0.6;
	text-align: end;
	writing-mode: vertical-lr;
	z-index: 0;
}

@media (--desktop) {
	.error-404-huge {
		grid-column: -6 / -3;
		grid-row: 1 / 4;
	}
}
