---
layout: false
permalink: humans.txt
---
/* The Humans Responsible & Colophon */
/* humanstxt.org */

/* TEAM */
Designer:    {{ site.author }}
Developer:   {{ site.author }}
Site:        hey [at] imhoff.name
Twitter:     {{ site.twitter }}
Location:    Hamburg, Germany

/* SITE */
Language:    English
Components:  Eleventy, Gulp, PostCSS, JavaScript
Software:    Visual Studio Code, Affinity Designer, Git

