<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
    {% if page.url === "/" %}
      {{ site.author }} · {{ site.description }}
    {% else %}
      {{ title }} · {{ site.author }}
    {% endif %}
    </title>

    <script type="module">
      document.documentElement.classList.remove('no-js');
      document.documentElement.classList.add('js');
    </script>

    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}" />
    <link rel="stylesheet" href="{{ '/assets/styles/print.css' | url }}" media="print" />
    
    <link rel="alternate" type="application/rss+xml" title="Posts, Links, and Quotes" href="{{ site.url }}/index.xml" />
    <link rel="alternate" type="application/rss+xml" title="Posts" href="{{ site.url }}/feed-posts.xml" />
    <link rel="alternate" type="application/rss+xml" title="Links" href="{{ site.url }}/feed-links.xml" />
    <link rel="alternate" type="application/rss+xml" title="Quotes" href="{{ site.url }}/feed-quotes.xml" />

    {% include "preload.njk" %}
    {% include "robots.njk" %}
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
    {{ content | safe }}
    {% include "scripts.njk" %}
  </body>
</html>
