<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }} · {{ site.owner }}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% include "preload.njk" %}
    <link rel="stylesheet" href="{{ '/assets/styles/main.css' | url }}" />
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
    {% include "page-header.njk" %}
    <main class="page-content">
      {{ content | safe }}
    </main>
    {% include "page-footer.njk" %}
    {% include "scripts.njk" %}
  </body>
</html>
