---
layout: base
backLink: /sketchnotes/
---

<main class="haiku-detail-main">
  <div class="haiku-detail-grid">
    {% include "minimal-page-header.njk" %}
    <div class="haiku-detail-content-grid">
      {{ content | safe }}
    </div>
  </div>
</main>
