---
layout: fullsize
---

{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{% set nextPost = collections.posts | getNextCollectionItem(page) %}

<article class="journal-container">
  <h1 class="journal-title">{{ title }}</h1>
  <aside class="journal-meta">
    <div class="journal-meta-author">
      <em>By</em> <a href="/about/">{{ author }}</a>
    </div>
    <div class="journal-meta-date">
    <time datetime="{{ date | dateToISO }}">
      {{ date | dateToFormat() }}
    </time>
    </div>
    <div class="journal-meta-reading-time">{{ content | readingTime }} read</div>
  </aside>
  <div class="journal-post">
    {{ content | safe }}
  </div>
  {% include "pagination.njk" %}
</article>
