---
layout: fullsize
---

{% set previousPost = collections.journal | getPreviousCollectionItem(page) %}
{% set nextPost = collections.journal | getNextCollectionItem(page) %}

<article class="journal-post-container">
  <h1 class="journal-post-title">{{ title | nbsp | safe }}</h1>
  <aside class="journal-post-meta">
    <div class="journal-post-meta-author">
      <em>By</em> <a href="/about/">{{ author }}</a>
    </div>
    <div class="journal-post-meta-date">
    <time datetime="{{ date | dateToISO }}">
      {{ date | dateToFormat() }}
    </time>
    </div>
    <div class="journal-post-meta-reading-time">{{ content | readingTime }} read</div>
  </aside>
  <div class="journal-post">
    {{ content | safe }}
  </div>
  {% include "pagination.njk" %}
</article>
