---
layout: base
---

<div class="layout-wide">
  <div class="wrapper projects-detail">
    <h1 class="projects-detail-title">{{ title }}</h1>
    <div class="projects-detail-content">
      {{ content | safe }}
    </div>
  </div>
</div>

